body {
      margin: 0;
      padding: 0;
      overflow: hidden;
}

canvas {
    padding: 0;
    margin: auto;
    display: flex;
}

canvas:hover{
      cursor: crosshair;
}
h2 {
      text-align: center;
      color: #ffffff;
      font-size: 2rem;
}

label {
      text-align: center;
      color: #ffffff;
      display: block;
      font-size: 1.5rem;

}

input[type = number] {
      display: block;
      align-items: center;
      width: 6em;
      text-align: center;
      padding: 0.5vh 0.5vw;
      margin: 2vh auto;
      border: none;
      border-radius: 100px;
      width: 80%;
}


input[type = 'reset']{
      display: block;
      margin: 15px auto;
      width: 80%;
      border-radius: 100px;
      padding: 0.5vh 0.5vw;
      text-transform: uppercase;
      background-color: #705e79;
      color: #ffffff;
      border-color: #ffffff;
}

input[type = 'submit']{
      display: block;
      margin: 15px auto;
      width: 80%;
      border-radius: 100px;
      padding: 0.5vh 0.5vw;
      text-transform: uppercase;
      background-color: #705e79;
      color: #ffffff;
      border-color: #ffffff;
}


input[type = color]{
      display: block;
      margin: 15px auto;
      width: 40%;
      border-radius: 100px;
      padding: 0.5vh 0.5vw;
      text-transform: uppercase;
      background-color: #705e79;
      color: #ffffff;
      border-color: #ffffff;
}


input[type='reset']:hover {
    border-color: #00ff00;
    cursor: pointer;
}

input[type='submit']:hover {
    cursor: pointer;
}


input[type='color']:hover {
    border-color: #00ff00;
    cursor: pointer;
    size: 2;
}


.row {
      width: 100%;
      display: grid;
}
.column1 {
      min-width: 20vw;
      max-width: 20vw;
      min-height: 100vh;
      float:left;
      background-color: #291b31;
}
.column2 {
      width: 80vw;
      display: inline-flex;
}
